*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(179, 100%, 13%);
}
.container{
    margin: 50px auto;
    text-align: center;
    height: 60vh;
    width: 50%;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'a a b'
    'a a b'
    'c d d'
    'c e e';
}

.container div{
    padding: 20px;
}

.first{
    background-color: #EB5020;
    grid-area: a;
}
.second{
    background-color: #FFA401;
    grid-area: b;
}
.third{
    background-color: #05AA42;
    grid-area: c;
}
.forth{
    background-color: #01AEFD;
    grid-area: d;
}
.fifth{
    background-color: #01AEFD;
    grid-area: e;
}



/* Media Query */
@media only screen and (max-width: 375px){
    .container{
        grid-template-areas: 
        'a a a'
        'b b b'
        'c c c'
        'd d d'
        'e e e';
    }
    
}