*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.about-me{
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 1px 1px 10px 10px rgb(163, 161, 161);
    overflow: hidden;
    height: 78vh;
    width: 70%;
    margin: 50px auto;
    border: none;
    border-radius: 10px;
    outline:none;
    align-items: center;
    z-index: 1;
}

form{
    color: black;
    background-color:white;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    row-gap: 40px;
}

form h1{
    font-size: 40px;
    margin-top: 20px;
}
input{
    /* width: 70%; */
    outline: none;
    border: none;
    background: none;
    font-size: large;
}

.about-me form > div{
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight:900 ;
    border-bottom: 1px solid #ccc;
    margin: 5px 0px;
    width: 80%;
    padding:0px 20px;
}

.about-me form div:nth-child(n+8){
    border: none;
}



::placeholder{
    color:rgb(190, 186, 186);
    font-size: 13px;
}

.button{
    padding: 10px 30px;
    outline: none;
    border: none;
    margin-top: 10px;
    border-radius: 50px;
    width: 40%;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color:white;
    font-weight: 700;
}
label{
    color: #333;
    font-weight: 900px;
    margin-bottom: 10px;

}

#second-slide{
    width: 50%;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    height: 100%;
}



/* Media Queries */

/* Sign Up */
@media only screen and (max-width:769px) {
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-me form{
        width: 100%;
    }
    form textarea{
        width: 80%;
    }
    #second-slide{
        display: none;
    }
}